:root{--background:0 0% 100%;--foreground:240 10% 3.9%;--card:0 0% 100%;--card-foreground:240 10% 3.9%;--popover:0 0% 100%;--popover-foreground:240 10% 3.9%;--primary:240 5.9% 10%;--primary-foreground:0 0% 98%;--secondary:240 4.8% 95.9%;--secondary-foreground:240 5.9% 10%;--muted:240 4.8% 95.9%;--muted-foreground:240 3.8% 45%;--accent:240 4.8% 95.9%;--accent-foreground:240 5.9% 10%;--destructive:0 72% 51%;--destructive-foreground:0 0% 98%;--border:240 5.9% 90%;--input:240 5.9% 90%;--ring:240 5.9% 10%;--chart-1:173 58% 39%;--chart-2:12 76% 61%;--chart-3:197 37% 24%;--chart-4:43 74% 66%;--chart-5:27 87% 67%;--radius:0.5rem;}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: inherit;
  text-decoration: underline;
}
a:hover, a:visited, a:focus, a:active {
  color: inherit !important;
  background: #2225;
}
.a {
  text-decoration: none !important;
}
.a:hover, .a:visited, .a:focus, .a:active {
  color: inherit !important;
  background: transparent !important;
}
button {
  -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-danger {
 color: #ff7c7c !important;
}
.btn-danger:hover, .btn-danger:focus {
  color: #fff !important;
  background: #ff7c7c;
}

.btn-primary:hover, .btn-primary:focus {
  background: #222;
  color: #fff !important;
  transition: 0.15s linear;
}

.danger {
 transform: scale(0.85);
 color: #fd3535 !important;
}

.is-skeleton {
  /* Basic styling for the skeleton element */
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  animation: pulse 2s infinite;
}
.is-skeleton-text {
  /* Styling for skeleton text elements */
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
  height: 1em;
  animation: pulse 2s infinite;
}


@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}


.desktop {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
#content .desktop {
  padding: 10em;
}
.desktop .hero {
 width: auto;
}
.desktop .hero:nth-child(-n2) {
 height: 200px;
}
.desktop .hero textarea {
  width: 48vw;
}
.desktop .hero #images img {
  max-width: 75px;
}