button {
  -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-danger {
 transform: scale(0.85);
 color: #ff7c7c !important;
}
.btn-danger:hover, .btn-danger:focus {
  color: #fff !important;
  background: #ff7c7c;
}

.btn-primary:hover, .btn-primary:focus {
  background: #222;
  color: #fff !important;
  transition: 0.15s linear;
}

